<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Subscription Manager</h1>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Renewal Date</th> 
                <th>Recurring?</th>
                <th>Payment Frequency</th>
                <th>Status</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subscriptions %}
            <tr>
                <td>{{ sub.name }}</td>
                <td>{{ sub.cost }}</td>
                <td>{{ sub.expiry_date }}</td>
                <td>{{ sub.is_recurring }}</td>
                <td>{{ sub.payment_frequency }}</td>
                <td>{{ sub.status }}</td>
                <td>{{ sub.subscription_type }}</td>
                <td style="width:80px">
                    <button class="button editButton">Edit</button>
                    <button class="button delButton">Del</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="button">Add</button>
</body>
</html>
